/* genryu-font-jp */
@font-face {
  font-family: "genryu-font-jp";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/genryu-font-jp/GenRyuMin2JP-B.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-jp";
  font-display: swap;
  font-weight: bolder;
  src: url("/_SYSTEM/OtherFont/genryu-font-jp/GenRyuMin2JP-H.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-jp";
  font-display: swap;
  font-weight: lighter;
  src: url("/_SYSTEM/OtherFont/genryu-font-jp/GenRyuMin2JP-L.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-jp";
  font-display: swap;
  font-weight: medium;
  src: url("/_SYSTEM/OtherFont/genryu-font-jp/GenRyuMin2JP-M.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-jp";
  font-display: swap;
  font-weight: normal;
  src: url("/_SYSTEM/OtherFont/genryu-font-jp/GenRyuMin2JP-R.otf") format("opentype");
}