/* genryu-font-tw */
@font-face {
  font-family: "genryu-font-tw";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/genryu-font-tw/GenRyuMin2TW-B.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-tw";
  font-display: swap;
  font-weight: bolder;
  src: url("/_SYSTEM/OtherFont/genryu-font-tw/GenRyuMin2TW-H.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-tw";
  font-display: swap;
  font-weight: lighter;
  src: url("/_SYSTEM/OtherFont/genryu-font-tw/GenRyuMin2TW-L.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-tw";
  font-display: swap;
  font-weight: medium;
  src: url("/_SYSTEM/OtherFont/genryu-font-tw/GenRyuMin2TW-M.otf") format("opentype");
}

@font-face {
  font-family: "genryu-font-tw";
  font-display: swap;
  font-weight: normal;
  src: url("/_SYSTEM/OtherFont/genryu-font-tw/GenRyuMin2TW-R.otf") format("opentype");
}