/* genseki-font-tc */
@font-face {
  font-family: "genseki-font-tc";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/genseki-font-tc/GenSekiGothic2TC-B.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-tc";
  font-display: swap;
  font-weight: bolder;
  src: url("/_SYSTEM/OtherFont/genseki-font-tc/GenSekiGothic2TC-H.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-tc";
  font-display: swap;
  font-weight: lighter;
  src: url("/_SYSTEM/OtherFont/genseki-font-tc/GenSekiGothic2TC-L.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-tc";
  font-display: swap;
  font-weight: medium;
  src: url("/_SYSTEM/OtherFont/genseki-font-tc/GenSekiGothic2TC-M.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-tc";
  font-display: swap;
  font-weight: normal;
  src: url("/_SYSTEM/OtherFont/genseki-font-tc/GenSekiGothic2TC-R.otf") format("opentype");
}