/* genseki-font-pjp */
@font-face {
  font-family: "genseki-font-pjp";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/genseki-font-pjp/GenSekiGothic2PJP-B.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-pjp";
  font-display: swap;
  font-weight: bolder;
  src: url("/_SYSTEM/OtherFont/genseki-font-pjp/GenSekiGothic2PJP-H.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-pjp";
  font-display: swap;
  font-weight: lighter;
  src: url("/_SYSTEM/OtherFont/genseki-font-pjp/GenSekiGothic2PJP-L.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-pjp";
  font-display: swap;
  font-weight: medium;
  src: url("/_SYSTEM/OtherFont/genseki-font-pjp/GenSekiGothic2PJP-M.otf") format("opentype");
}

@font-face {
  font-family: "genseki-font-pjp";
  font-display: swap;
  font-weight: normal;
  src: url("/_SYSTEM/OtherFont/genseki-font-pjp/GenSekiGothic2PJP-R.otf") format("opentype");
}