/* hack-nerd-font */
@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-style: normal;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-style: italic;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFont-BoldItalic.ttf") format("truetype");
}