/* hack-nerd-font-propo */
@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-style: normal;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-style: italic;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-propo";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontPropo-BoldItalic.ttf") format("truetype");
}