/* hack-nerd-font-mono */
@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-style: normal;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-style: italic;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "hack-nerd-font-mono";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
  src: url("/_SYSTEM/OtherFont/hack-nerd-font/HackNerdFontMono-BoldItalic.ttf") format("truetype");
}