@use "@/styles/value" as *;

$Scale: 1.5;

#hoverTips2 {
  opacity: 0;
  width: auto !important;
  height: auto !important;
}

#hoverTips {
  text-overflow: clip;
  text-wrap: nowrap;
}

#hoverTips,
#hoverTips2 {
  max-width: 50%;
  position: fixed;
  z-index: 10000000000;
  padding: 5px 14px;
  font-size: 15px;
  transform: translate(20px, -100%) scale($Scale);
  backdrop-filter: $blur-effect-3;
  background: Color(.1, .5);
  pointer-events: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition:
    all DefaultTransition(),
    top 0s,
    left 0s,
    transform DefaultTransition($transition-duration, .7s),
    opacity DefaultTransition($transition-duration, .3s),
    width cubic-bezier(0, .72, .16, .96) .3s,
    height cubic-bezier(0, .72, .16, .96) .3s;

  * {
    color: Color();
  }

  .title {
    font-size: 18px;
  }

  &.show {
    transform: translate(20px, -100%);
    opacity: 1;
    transition:
      all DefaultTransition(),
      top 0s,
      left 0s,
      width cubic-bezier(0, .72, .16, .96) .3s,
      height cubic-bezier(0, .72, .16, .96) .3s;
  }

  $Translate: translate(calc(-100% - 20px), -100%) "LeftTop",
    translate(20px, -10%) "RightBottom";

  @each $trans ,
  $name in $Translate {
    &.#{$name} {
      transform: #{$trans} scale($Scale);
    }

    &.#{$name}.show {
      transform: #{$trans};
    }
  }

  p {
    margin: 0;
  }
}

#FLASH {
  @include FullDiv();
  @include GridFrame();

  >div {
    background-color: Color();
    animation-name: FLASH;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
}

@keyframes FLASH {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {

  #hoverTips,
  #hoverTips2 {
    display: none;
  }
}